{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf  %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{user.username|capitalize}}&apos;s Profile</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">{{user.username|capitalize}}&apos;s Profile</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="{{user.gravatar(size=256)}}"
                       alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{user.name}}</h3>

                <p class="text-muted text-center">{{user.role.name}}</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Followers</b> <a class="float-right">{{ user.followers.count() - 1 }}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Following</b> <a class="float-right">{{ user.followed.count() - 1 }}</a>
                  </li>
                </ul>
                {% if current_user.can(Permission.FOLLOW) and user != current_user %}
                    {% if not current_user.is_following(user) %}
                    <a href="{{ url_for('.follow', username=user.username) }}" class="btn btn-primary btn-block">Follow</a>
                    {% else %}
                    <a href="{{ url_for('.unfollow', username=user.username) }}" class="btn btn-default btn-block">Unfollow</a>
                    {% endif %}
                {% endif %}
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">About Me</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                <p class="text-muted"><a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a></p>

                <hr>

                <strong><i class="fas fa-pencil-alt mr-1"></i> Email</strong>

                <p class="text-muted"><a href="mailto:{{user.email}}">{{user.email}}</a></p>

                <hr>

                <strong><i class="far fa-file-alt mr-1"></i> Bio</strong>

                <p class="text-muted">{{user.about_me}}</p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-8">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab">Profile Edit</a></li>
                  <li class="nav-item"><a class="nav-link" href="#activity" data-toggle="tab">Posts</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class=" tab-pane" id="activity">
                    {% for post in posts%}
                      <!-- Post -->
                      <div class="post">
                        <div class="user-block">
                          <img class="img-circle img-bordered-sm" src="{{user.gravatar(size=256)}}" alt="user image">
                          <span class="username">
                            <a href="#">{{user.name|capitalize}}</a>
                          </span>
                          <span class="description">Shared publicly - {{ moment(post.timestamp).format('LLLL') }}</span>
                        </div>
                        <!-- /.user-block -->
                        <h5>{{post.title}}</h5>
                        <p>{{post.body[:200]}}</p>

                        <p>
                          <span class="float-right">
                            <a href="#" class="link-black text-sm">
                              <i class="far fa-comments mr-1"></i> Comments ({{ post.comments.count() }})
                            </a>
                          </span>
                        </p>
                      </div>
                      <!-- /.post -->
                    {% endfor %}
                  </div>
                  <div class="active tab-pane" id="settings">
                    {{ wtf.quick_form(form) }}
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}